# Visual Studio
.vs/
*.user
*.suo
*.sdf
*.cache
*.log

# Build
bin/
obj/
*.dll
*.exe
*.pdb

# Rider
.idea/

# VS Code
.vscode/

# NuGet
*.nupkg
*.snupkg
*.nuspec
project.lock.json
project.fragment.lock.json
artifacts/

# Outros
*.dbmdl
